<div class="container">
   <%#= render "shared/banner" %>
  <div class="flexbox-container">
  <!-- dose needed for each ingredient -->
    <div class="cocktail-photo">
       <%= cl_image_tag @cocktail.photo, width: 400, height: 500, crop: :fill  %>
    </div>
    <div class="cocktails-ingredients-form">
      <div class="cocktail-details">
        <h2><%= @cocktail.name %></h2>
        <br>
        <%= @cocktail.description %>
      </div>
      <% @cocktail.doses.each do |dose| %>
        <div class="ingredients">
          <h2>Ingredients</h2>
          <hr>
          <h4><%= dose.ingredient.name %></h4>
          <p><%= dose.description %></p>
          <p><%= link_to "Delete ingredient", dose_path(dose), method: :delete %></p>
      <% end %>
      </div>

      <div class="container-form">
        <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <%= f.input :description %>
          <%= f.association :ingredient %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, class: "btn btn-primary mb-3" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>






