<div class="navbar navbar-expand-sm navbar-light navbar-fixed fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png", class: "logo" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", "#", class: "nav-btn" %>
        <%= link_to "#", class: 'nav-btn' do %>
          Search       <i class="fas fa-search"></i>
        <% end %>
        <%= link_to "Add a cocktail", new_cocktail_path, class: 'nav-add-btn' %>
      </li>
    </ul>
  </div>
</div>

